@import "./utilities.less";

@red: darkred;
@white: #e0e0e0;
@light-gray: #a0a0a0;
@gray: #5a5a5a;
@dark-gray: #2a2a2a;
@black: rgb(0, 0, 0);
@transparent-black: rgba(0, 0, 0, 0.7);

@font-family: "Droid Sans Mono Dotted", monospace;
@font-size-extra-small: 10pt;
@font-size-small: 16pt;
@font-size-medium: 22pt;
@font-size-large: 32pt;
@font-size-extra-large: 65pt;

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	min-height: 100%;
	background-color: #000;
}

img {
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-webkit-user-drag: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

.text {
	.no-text-select();
	font-family: @font-family;
	font-size: @font-size-medium;
}

.extra-small-text {
	.text();
	font-size: @font-size-small;
}

.small-text {
	.text();
	font-size: @font-size-extra-small;
}

.medium-text {
	.text();
	font-size: @font-size-medium;
}

.large-text {
	.text();
	font-size: @font-size-large;
}

.extra-large-text {
	.text();
	font-size: @font-size-extra-large;
}

.wegge-game-container {
	.cursor-default();
	.medium-text();

	.floating-widget {
		position: fixed;
		right: @m-2;
		top: @m-2;
		background-color: @black;
		color: @white;
		padding: @m-2;
	}

	.loading-overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 9999;
		pointer-events: none;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

		color: @white;

		div {
			border-radius: @m-2;
		}

		.progress-wrapper {
			border-width: 1px;
			padding: 1px;
			border-style: solid;
			border-color: @white;

			div {
				height: @m-2;
				background-color: @white;
			}
		}
	}

	.main-menu-layer {
		.cursor-default();
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: @transparent-black;

		.main-menu {
			border-radius: @m-2;
			text-align: center;
			color: @white;

			.item {
				&:hover {
					color: @red;
				}
			}
		}
	}

	.menu {
		text-align: center;
		color: @gray;

		.item {
			.cursor-pointer();

			&:hover {
				color: @light-gray;
			}
		}
	}

}
